name: pixi environment continuous integration
on:
  push:
  pull_request:
    branches:
      - main
      - develop
jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ "3.11", "3.12" ]
    defaults:
      run:
        shell: bash -l {0}
    timeout-minutes: 45
    steps:

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install pixi on Windows
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          iwr -useb https://pixi.sh/install.ps1 | iex

      - name: Install pixi on Linux and MacOS
        if: runner.os != 'Windows'
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash

      - name: Install pixi class environment on Windows
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          C:\Users\runneradmin\.pixi\bin\pixi run install

      - name: Install pixi class environment on Linux and MacOS
        if: runner.os != 'Windows'
        run: |
          pixi run install
